<h1 id='title'>Streaming Data Example</h1>

<div class="stream">
  <button {{action 'streamData'}}>Stream it!</button>
  <button {{action 'loadData'}}>Ajax it.</button>
  <p>{{model.length}} results</p>
  {{#collection Ember.ListView contentBinding="controller" height=300 rowHeight=20 width=300}}
    {{this.test.name}}
  {{/collection}}
</div>